# VS Code
.vscode/

# GitHub Actions packaging artifacts (BigWigsMods packager)
.release/
.build/

# OS files
Thumbs.db
.DS_Store

# Archives
*.zip

# Lua compiled/intermediate (normally none, but safe)
*.luac
